* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-box {
    display: flex;
}

footer {
    height: 300px;
    justify-content: center;
    align-items: center;
}

#footer-container {
    width: 285px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-wrapper {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 30px;
}

@media screen and (max-width: 800px) {
    #footer-container {
        margin-top: 140px;
    }
}